:root{
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteparrafos: 'Opens Sans', sans-serif;
    --blanco: #fff;
    --primario: #784D3C;
    --negro: #000;
    --gris: #e1e1e1;
    --verde: #505632;
    --error: #B84848;
    --enviado: #2d572c;


}
html{
    box-sizing: border-box; /*no afecte el borde no afecte el ancho de elementos*/
    font-size: 62.5%; /*1 rem= 10px*/
}
*,*:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: var(--fuenteparrafos);
    font-size: 1.6rem;
    line-height: 2; /*interlineado*/
}

/*Globales*/
.contenedor{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;/*centar contenido*/
}


a{
    text-decoration: none;
}
 h1, h2, h3, h4{
     font-family: var(--fuenteHeading);
     line-height: 1.2;
 }
 h1{
     font-size: 4.8rem;
 }
 h2{
     font-size: 4rem;
 }
 h3{
     font-size: 3.2rem;
}
h4{
    font-family: 2.8rem;
}


img{
    max-width: 100%;
}
.no-margin{
    margin: 0;
}
.no-padding{
    padding:0;
}
.centrar-texto{
    text-align: center;
}
/*Header*/
.header{
    background-image: url("../img/banner.webp");
    height:40rem;
    background-size: cover; /*adapta el tamaño segun los pixeles todo */
    background-repeat: no-repeat;/*no repetir la imagen*/   
}

.colorFondo{
    background: rgb(80,86,50);
    background: radial-gradient(circle, rgba(80,86,50,0.4682247899159664) 9%, rgba(80,86,50,0.6587009803921569) 78%);
    height: 40rem;
}
.iconoLogo{
height: 5rem;
margin-top: -1.5rem;
}
.logo_nombre{
    font-size: 2.5rem;
}
@media(min-width: 768px){
    .header{
        height:  50rem;
        background-position: center -18em;
    }
.colorFondo{
    height: 50rem;
}

.iconoLogo{
    height: 5rem;
}
}

.header-nosotros{
    height: 50rem;
}
.header_texto{
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;   
}
@media(min-width: 768px) {
    .header_texto {
        margin-top: 15rem;
    }
}
.barra{
    padding-top: 4rem;
}
.navegacion{
    display: flex;
    justify-content: center;
    gap:1em;
}
.navegacion_enlace{
    font-size: 1rem;
}
@media(min-width: 768px ) {
    .barra{
        display: flex;
        justify-content: space-between; /*separar cada uno de extremo a extremo*/
        text-align: center;
    }
}
.logo{
    color: var(--blanco);
    display: flex;
}
.logo_nombre{
    font-weight: 400;
  
}
.logo_bold{
    font-weight: 700;
}

.navegacion_enlace {
    color: var(--blanco);
    display: block;
    text-align: center;
    font-size: 1.8rem;
}

 @media(min-width: 768px) {
    .navegacion {
        display: flex;
        gap: 2rem;
    }
 }

 @media(min-width: 768px) {
    .contenido-principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
    
 }
 .entrada{
     border-bottom: 1px solid var(--gris) ;
     margin-bottom: 2rem;
 }

 .entrada:last-of-type{ /*la ultima entrada*/
     border: none;
     margin-bottom: 0;
 }
 .titulo{
     font-size: 2.5rem;
 }

 .boton{
     display: block;
     font-family: var(--fuenteHeading);
     color: var(--blanco);
     text-align: center;
     padding: 1rem 3rem;
     font-size: 1.8rem;
     text-transform: uppercase;
     font-weight: 700;
     margin-bottom: 2rem;
     border:none;
     border-radius: 20rem;
 }
 @media(min-width: 768px) {
     .boton{
         display: inline-block;
     }

     
 }
 .boton:hover{
     cursor:pointer;
 }
 .boton-primario{
     background-color: var(--verde);

 }
 .boton-secundario{
     background-color: var(--primario);
     
 }
 .cursos{
     list-style: none;
 }
 .widget-curso{
      border-bottom: 1px solid var(--gris);
      margin-bottom: 2rem; 
 }
.widget-curso:last-of-type{
    border:none;
    margin-bottom: 0;
}
 .widget-curso_label{
    font-family: var(--fuenteHeading);
    font-weight: bold;
 }

 .widget-curso_info{
    font-weight: normal;
 }

 .widget-curso_info,
 .widget-curso_label{
     font-size:  2rem;
 }

 .footer{
     background:var(--verde);
     padding-bottom: 3rem;
     margin-top: 4rem;
 }

/* SOBRE NOSOTROS */
@media(min-width: 768px) {
    .sobre-nosotros{
        display: flex;
        gap: 5rem;
    }
    .sobre-nosotros_imagen,
    .sobre-nosotros_texto{
        flex-basis:50%;
    }
}
.sobre-nosotros_imagen{
    margin: auto;
}

 /* CURSOS*/
 .widget{
     padding: 3rem 0;
     border-bottom: 1px solid var(--gris);
 }
 @media(min-width: 768px) {
    .widget{
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 2rem;
    }
 }

 .widget:last-of-type{
     border:none
 }

/*CONTACTO*/
.enviado, .error{
    font-weight: bold;
    font-size: 1.8rem;
}
.error{
    color: var(--error);
}

.enviado{
    color: var(--enviado);
}

.contacto-bg{
    background-image: url(../img/contacto.jpg);
    width: 6    0vh;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    background-position: left ;
}

@media(min-width: 768px){
.form{
    display: flex;
    margin-bottom: 5em;
}
.formulario{
    width: 70%;
}
.contacto-bg{
width: 110vh;
background-position: center;
}
.enviar{
    margin-left: 13em;
}
}

.formulario{
    background-color: var(--blanco);
    padding: 2rem;
}

.enviar{
    margin-left: 5em;
}


@media(min-width: 768px){
    .campo{
display: flex;
margin-bottom: 2rem;
}

.campo_label{
/* flex: 0 5rem; */
text-align: left;
/* padding-right: 2rem; */

}

.campo_field{
/* flex: 110; */
border: 2px solid;
}
.campo_field--textarea{
height: 1000rem;
}

.contacto-imagen{
    display: flex;
    justify-content: center;
    height: 25em;
    
}
}

.campo{
display: flex;
flex-direction: column;
margin-bottom: 1rem;
}

.campo_label{
/* flex: 0 0 9rem; */
/* text-align: right; */
padding-right: 2rem;
}

.campo_field{
    padding: 0.5rem;
/* flex: 1; */
/* border: 1px solid; */
}
.campo_field--textarea{
height: 20rem;
}

.contacto-imagen{
    display: flex;
    justify-content: center;
    height: 25em;
    
}